* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Segoe UI', Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    border-bottom: 1px solid #1a1a4b;
}

.navbar-container {
    display: flex;
    gap: 0rem 2rem;
}

.navbar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar img {
    display: block;
    width: 55px;
    background-color: #1a1a4b;
    padding: 1rem 1.2rem;
}

.navbar-nav {
    padding: 1rem 1.2rem;
}

.navbar-nav a {
    text-decoration: none;
    margin: 1rem;
    color: #000;
}

.navbar-nav a:not(#button-login):hover {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #1a1a4b;
}

#button-login {
    background-color: #1a1a4b;
    color: #ffffff;
    padding: 0.4rem 1.5rem;
    border-radius: 35px;
}

#hamburger-menu {
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-content {
    position: relative;
    z-index: 1;
    color: #ffffff;
    margin: 0rem 7%;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 600;
}

.hero-content p {
    font-size: 1.2rem;
    font-weight: 100;
}

.hero-content a {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 2rem;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #1a1a4b;
    border-radius: 10px;

}

/* Fasilitas Section */
.fasilitas {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    background-color: #1a1a4b;
    padding: 4rem;
}

.fasilitas h2 {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 600;
}

.fasilitas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.fasilitas-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #ffffff;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    border-radius: 10px;
}

.fasilitas-card img {
    width: 140px;
    height: 100px;
    border-radius: 10px;
}

.fasilitas-content {
    text-align: center;
    color: #000;
}

.fasilitas-content h3 {
    font-weight: 600;
}

.fasilitas-content p {
    font-weight: 200;
}

/* Prosedur Section */
.prosedur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}

.prosedur-title {
    text-align: center;
}

.prosedur-title h2 {
    font-size: 4rem;
    margin-bottom: 1.3rem;
    font-weight: 600;
}

.prosedur-title h3 {
    font-size: 1.7rem;
    font-weight: 500;
}

.prosedur-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.prosedur-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #1a1a4b;
    color: #ffffff;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 6px;

    flex: 1 1 0;      
    width: 320px;     
    box-sizing: border-box;
}

.prosedur-card .number {
    text-align: end;
    font-size: larger;
}

.prosedur-card hr {
    margin-top: auto;
    height: 2px;
    background-color: #ffffff;
    border: none;
}

.prosedur-content { 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.prosedur-content h3 {
    font-weight: 600;
}

.prosedur-content p {
    font-weight: 300;
    min-height: 3rem;
}